<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeerScaleIOT Home</title>
</head>
<body>
    <h1>Internet of Things Beer Scale Project</h1>
    <p>&nbsp;</p>

    <p>You can:</p>
    <ul>
        <li><a href="/AddScale">Set up a scale.</a></li>
        <li>There are {{ num }} scales programmed in. Click to view scale data for:</li>
        <ul>
            {% for i in range(1,num+1) %}
                <li><a href="/ScaleInfo={{ i }}">Scale {{ i }}</a></li>
            {% endfor %}
        </ul>
    </ul>

    <p>&nbsp;</p>
    <p>Information about this program can be found <a href="/ProgramInfo">here</a>.</p>
</body>
</html>