<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeerScaleIOT Home</title>
</head>
<body>
    <h1>Internet of Things Beer Scale Project</h1>
    <p>&nbsp;</p>

    <p>You can:</p>
    <ul>
        <li><a href="#">Set up a scale.</a></li>
        <li>View scale data for:</li>
        <ul>
            <li><a href="/KegInfo=1">Scale 1</a></li>
            <li><a href="/KegInfo=2">Scale 2</a></li>
        </ul>
    </ul>

    <p>&nbsp;</p>
    <p>Information about this program can be found <a href="/ProgramInfo">here</a>.</p>
</body>
</html>