<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>ScaleLiquidRemainingIOT</title>
	{{ js_resources|indent(4)|safe }}
	{{ css_resources|indent(4)|safe }}
	{{ plot_script|indent(4)|safe }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
	<div id="intro">
		<div id="pageHeader">
			<h1><span>Scale Liquid Remaining IOT</span></h1>
		</div>

		<div id="preamble">
			<h2><span>What does the program do?</span></h2>
			<p class="p1"><span>The Scale Liquid Remaining IOT is an Internet of Things device that is used
				to collect weight data from scales to get the percentage of how full containers are that
				are placed on top of the scales.</span></p>

			<h2><span>Quick View</span></h2>
			<p> {{ plot_div|indent(4)|safe }} </p>
		</div>
	</div>

	<div id="linkList">
		<div id="linkList2">
			<div id="lselect">
				<ul>
					<li><a href="/Home">Home</a></li>
					<li><a href="/Settings">Settings</a></li>
					<li><a href="https://github.com/ZackJorquera/ScaleLiquidRemainingIOT">GitHub</a></li>
				</ul>
			</div>

			<div id="larchives">
				<ul>
					{% for i in range(1,num+1) %}
                        <li><a href="/ScaleInfo={{ i }}">Scale {{ i }}</a></li>
                    {% endfor %}
					<li><a href="/AddScale">Add a Scale</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
