<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Add a Scale</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container">
	<div id="intro">
		<div id="pageHeaderTwo">
			<h1><span>Almost Done</span></h1>
		</div>

		<div id="preamble">
			<p>Note that as more pressure is applied the value may decreases.</p>
			<form method="POST">
				<p>
					Empty Value: <input name="EmptyValue", value="{{  lr  }}">
						<input type="submit" name="submit" value="Get Empty Value" /><br />

					Full Value: <input name="FullValue", value="{{  ur  }}">
							<input type="submit" name="submit" value="Get Full Value" /><br />
				</p>
				<input type="submit" name="submit" value="Set">
			</form>
		</div>
	</div>

	<div id="linkList">
		<div id="linkList2">
			<div id="lselect">
				<ul>
					<li><a href="/Home">Home</a></li>
					<li><a href="/Settings">Settings</a></li>
					<li><a href="https://github.com/ZackJorquera/ScaleLiquidRemainingIOT">GitHub</a></li>
				</ul>
			</div>

			<div id="larchives">
				<ul>
					{% for i in range(1,totalNum+1) %}
                        <li><a href="/ScaleInfo={{ i }}">Scale {{ i }}</a></li>
                    {% endfor %}
					<li><a href="/AddScale">Add a Scale</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
